@import "tailwindcss";

.bitcount-single {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.pitt-blue {
  color: #003594;
}

.pitt-bg-blue {
  background-color: #003594;
}

.pitt-gold {
  color: #ffb81c;
}
